link(rel='stylesheet', href='/plugins/bootstrap/css/bootstrap.css')
link(rel='stylesheet', href='/stylesheets/css/style.css')
link(rel='stylesheet', href='/stylesheets/css/headers/header1.css')
link(rel='stylesheet', href='/stylesheets/css/responsive.css')
link(rel='shortcut icon', href='favicon.ico')
// CSS Implementing Plugins
link(rel='stylesheet', href='/plugins/font-awesome/css/font-awesome.css')
link(rel='stylesheet', href='/plugins/flexslider/flexslider.css')
link(rel='stylesheet', href='/plugins/bxslider/jquery.bxslider.css')
link(rel='stylesheet', href='/plugins/layer_slider/css/layerslider.css', type='text/css')
// CSS Theme
link#style_color(rel='stylesheet', href='/stylesheets/css/themes/default.css')
link#style_color-header-1(rel='stylesheet', href='/stylesheets/css/themes/default.css')