
.title {
  margin-top: -4em;
}
.boxVideo {
  padding: 0;
  -webkit-transition: all 5s ease;
  -moz-transition: all 5s ease;
  -ms-transition: all 5s ease;
  -o-transition: all 5s ease;
  transition: all 5s ease;
  /*
								*/
}
.boxVideo img {
  width: 100%;
  height: 100%;
  zoom: 1.2;
}
.boxVideo img:hover {
  zoom: 1.2;
}
.boxVideo i {
  position: absolute;
  top: 30%;
  left: 45%;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
  i:hover {
  font-size: 4.2rem;
}
.box{
  position: relative;
}
.box.ng-enter{
  transition:3s;
  opacity: 0;
}
.box.ng-enter-active{
  opacity: 1;
}
.box.ng-enter-stagger{
  transition-delay:1s;
}
.box.ng-leave{
  transition:3s;
  opacity: 1;
}
.box.ng-leave-stagger{
  transition-delay:.75s;
}
.box.ng-leave-active{
  opacity: 0;
}