extends layouts/home_layout
block content
	//menu
	include includes/partials/header
	//sliders
	#fullpage(ng-controller="ctrlSlidesZone")
		//section0:incluye sliders,login y register
		include includes/partials/section0
		//section1: incluye las sesiones grabadas y la lista de profesores
		include includes/partials/section1
		//section2: incluye testimonios y clientes
		include includes/partials/section2
		//section footer falta pulir
		include includes/partials/footer
