extends layouts/home_layout_
block content
		//contenido medio					
		#fullpage

		.section#section1
			.slide(ng-controller="ctrlContentVideos")
				button(ng-click="hideVideos()").init|OUT
				button(ng-click="showVideos()").init|START
				.container
					.row
						h3.title.text-center|Mira como ellos ya estan aprendiendo!!
						hr
					.row.servive-block
						.box.col-xs-6.col-md-3.col-sm-6(ng-repeat="(key, val) in listVideos")
							.boxVideo.servive-block-in.servive-block-colored.servive-block-green
									img(src="{{val.urlImage}}", alt="")
									i.glyphicon.glyphicon-play
