extends layouts/home_layout
block content
	//encima del menu
	.top
		.container
			ul.loginbar(class="pull-right")
				li
					a(href="page_faq.html")|Help
				li.devider
				li
					a(href="page_login.html")|Register
				li.devider
				li
					a(href="page_login.html")|Login
	.header
		.navbar(class="navbar-default",role='navigation')
			.container
				.navbar-header
					button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-responsive-collapse')
						span.sr-only| Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href='index.html')
						h1
							i.fa(class="fa-penci-square")
							|Sensei
				.collapse(class="navbar-collapse navbar-responsive-collapse")
					ul.nav(class="navbar-nav navbar-right")
						li.dropdown.active
							a.dropdown-toggle(href='#', data-toggle='dropdown', data-hover='dropdown', data-delay='0', data-close-others='false')
								|Home
						li.dropdown
							a.dropdown-toggle(href='#', data-toggle='dropdown', data-hover='dropdown', data-delay='0', data-close-others='false')
								|Pages
						li.dropdown
							a.dropdown-toggle(href='#', data-toggle='dropdown', data-hover='dropdown', data-delay='0', data-close-others='false')
								|Features
						li.dropdown
							a.dropdown-toggle(href='#', data-toggle='dropdown', data-hover='dropdown', data-delay='0', data-close-others='false')
								|Portfolio
						li.dropdown
							a.dropdown-toggle(href='#', data-toggle='dropdown', data-hover='dropdown', data-delay='0', data-close-others='false')
								|Blog
						li.dropdown
							a.dropdown-toggle(href='#', data-toggle='dropdown', data-hover='dropdown', data-delay='0', data-close-others='false')
								|Contacts
						li.hidden-sm
							a.search
								i.icon-search(class="search-btn")
						.search-open
							.input-group
								input.form-control(type='text', placeholder='Search')
								span.input-group-btn
									button.btn-u(type='button') Go
	//sliders								
	.layer_slider(style="z-index:1;")
		#layerslider-container-fw
			#layerslider(style="width: 100%; height: 580px; margin: 0px auto;")
				.search(ng-controller="ctrlSearch",style="position:absolute;width:40%;height:auto;margin:20% 0 0 10%;z-index:1000;")
					.input-group.input-lg
						input.form-control(ng-model="search",type='text',style="height:40px;font-size:1.5em;", placeholder='Busca el curso o tema')
						span.input-group-btn
							button.btn-u.btn-lg(type='button',style="height:40px;width:40px;margin:0 0 0 -40px")
								i.icon-search(style="font-size:1.5em;")
				.ls-layer(style="slidedirection: right; transition2d: 24,25,27,28;")
					img.ls-bg(src="/img/sliders/layer/bg1.jpg",alt="Slide background")
					//img.ls-s-1(src="/img/mockup/iphone1.png", alt="Slider Image", style=" top:110px; left: 240px; slidedirection : left; slideoutdirection : bottom; durationin : 1500; durationout : 1500; ")
					//img.ls-s-1(src="/img/mockup/iphone.png", alt="Slider image", style=" top:60px; left: 40px; slidedirection : left; slideoutdirection : bottom; durationin : 2500; durationout : 2500; ")
					span.ls-s-1(style=" text-transform: uppercase; line-height: 45px; font-size:35px; color:#fff; top:200px; left: 590px; slidedirection : top; slideoutdirection : bototm; durationin : 3500; durationout : 3500;")
						|fully Responsive
						br
						|Mensaje
					a.btn-u(class="btn-u-orange ls-s1", href="#", style=" padding: 9px 20px; font-size:25px; top:340px; left: 590px; slidedirection : bottom; slideoutdirection : top; durationin : 3500; durationout : 3500;")
						|Download
				.ls-layer(style="slidedirection: top;")
					img.ls.bg(src="/img/bg/5.jpg",alt="Slide background")
					i.icon-chevron-sign-right.ls-s-1(style=" color: #fff; font-size: 24px; top:70px; left: 40px; slidedirection : left; slideoutdirection : top; durationin : 1500; durationout : 500;")
					span.ls-s-2(style=" color: #fff; font-weight: 200; font-size: 22px; top:70px; left: 70px; slidedirection : top; slideoutdirection : bottom; durationin : 1500; durationout : 500; ")
						|Fully Responsive and Easy to Customize
					i.icon-chevron.icon-chevron-sign-right.ls-s-1(style=" color: #fff; font-size: 24px; top:120px; left: 40px; slidedirection : left; slideoutdirection : top; durationin : 2500; durationout : 1500;")
					span.ls-s-2(style="color: #000; font-weight: 200; font-size: 22px; top:120px; left: 70px; slidedirection : top; slideoutdirection : bottom; durationin : 2500; durationout : 1500;")
						|Revolution and Layer Slider Included
					i.icon-chevron-sign-right.ls-s-1(style="color: #fff; font-size: 24px; top:170px; left: 40px; slidedirection : left; slideoutdirection : top; durationin : 3500; durationout : 3500;")
					span.ls-s-2(style="color: #000; font-weight: 200; font-size: 22px; top:170px; left: 70px; slidedirection : top; slideoutdirection : bottom; durationin : 3500; durationout : 2500;")
						|1000+ Glyphicons Pro and Font Awesome Icons
					i.icon-chevron-sign-right.ls-s-1(style="color: #fff; font-size: 24px; top:220px; left: 40px; slidedirection : left; slideoutdirection : top; durationin : 4500; durationout : 3500;")
					span.ls-s-2(style="color: #000; font-weight: 200; font-size: 22px; top:220px; left: 70px; slidedirection : top; slideoutdirection : bottom; durationin : 4500; durationout : 3500;")
						|Revolution and Layer Slider Included
					i.icon-chevron-sign-right.ls-s-1(style=" color: #fff; font-size: 24px; top:370px; left: 40px; slidedirection : left; slideoutdirection : top; durationin : 5500; durationout : 4500; ")
					span.ls-s-2(style="color: #000; font-weight: 200; font-size: 22px; top:370px; left: 70px; slidedirection : top; slideoutdirection : bottom; durationin : 5500; durationout : 4500;")
						|60+ Template Pages and 20+ Plugins Included
					a.btn.btn-u.ls-s-1(href="#",style="padding: 9px 20px; font-size:25px; top:420px; left: 40px; slidedirection : bottom; slideoutdirection : bottom; durationin : 6500; durationout : 3500;")
						|Twitter Bootstrap 3
					img(src="/img/mockup/iphone1.png", alt="Slider Image", class="ls-s-1", style=" top:30px; left: 650px; slidedirection : right; slideoutdirection : bottom; durationin : 1500; durationout : 1500;")
				.ls-layer(style="slidedirection: right; transition2d: 92,93,105;")
					img.ls-bg(src="/img/sliders/layer/bg2.jpg",alt="Slide background")
					span.ls-s-1(style="color: #777; line-height:45px; font-weight: 200; font-size: 35px; top:100px; left: 50px; slidedirection : top; slideoutdirection : bottom; durationin : 1000; durationout : 1000;")
						| Unify is Fully Responsive <br> Twitter Bootstrap 3 Template
					a.btn-u.btn-u-green.ls-s-1(href="#",style="padding: 9px 20px; font-size:25px; top:220px; left: 50px; slidedirection : bottom; slideoutdirection : bottom; durationin : 1000; durationout : 1000;")
						|	Find Out More
					img.ls-s-1(src="/img/mockup/iphone.png", alt="Slider Image", style=" top:30px; left: 670px; slidedirection : right; slideoutdirection : bottom; durationin : 3000; durationout : 3000; ")
	//contenido medio					
	.container
		.row
			h4.title
				.margin-bottom-10
					|Mira como otros ya estan aprendiendo!!
			hr
		.row.servive-block.margin-bottom-10
			.col-md-3.col-sm-3
				.servive-block-in.servive-block-colored.servive-block-green
					h4|Awesome Green Box
					div
						i.icon-bullhorn
					p|Donec id elit non mi porta gravida at eget metus id elit mi egetine.
			.col-md-3.col-sm-3
				.servive-block-in.servive-block-colored.servive-block-green
					h4|Awesome Green Box
					div
						i.icon-bullhorn
					p|Donec id elit non mi porta gravida at eget metus id elit mi egetine.
			.col-md-3.col-sm-3
				.servive-block-in.servive-block-colored.servive-block-green
					h4|Awesome Green Box
					div
						i.icon-bullhorn
					p|Donec id elit non mi porta gravida at eget metus id elit mi egetine.
			.col-md-3.col-sm-3
				.servive-block-in.servive-block-colored.servive-block-green
					h4|Awesome Green Box
					div
						i.icon-bullhorn
					p|Donec id elit non mi porta gravida at eget metus id elit mi egetine.
		.row.servive-block.margin-bottom-10
			.col-md-3.col-sm-6
				.servive-block-in.servive-block-colored.servive-block-green
					h4|Awesome Green Box
					div
						i.icon-bullhorn
					p|Donec id elit non mi porta gravida at eget metus id elit mi egetine.
			.col-md-3.col-sm-6
				.servive-block-in.servive-block-colored.servive-block-green
					h4|Awesome Green Box
					div
						i.icon-bullhorn
					p|Donec id elit non mi porta gravida at eget metus id elit mi egetine.
			.col-md-3.col-sm-6
				.servive-block-in.servive-block-colored.servive-block-green
					h4|Awesome Green Box
					div
						i.icon-bullhorn
					p|Donec id elit non mi porta gravida at eget metus id elit mi egetine.
			.col-md-3.col-sm-6
				.servive-block-in.servive-block-colored.servive-block-green
					h4|Awesome Green Box
					div
						i.icon-bullhorn
					p|Donec id elit non mi porta gravida at eget metus id elit mi egetine.
		.row.servive-block.margin-bottom-10
			.col-md-3.col-sm-6
				.servive-block-in.servive-block-colored.servive-block-green
					h4|Awesome Green Box
					div
						i.icon-bullhorn
					p|Donec id elit non mi porta gravida at eget metus id elit mi egetine.
			.col-md-3.col-sm-6
				.servive-block-in.servive-block-colored.servive-block-green
					h4|Awesome Green Box
					div
						i.icon-bullhorn
					p|Donec id elit non mi porta gravida at eget metus id elit mi egetine.
			.col-md-3.col-sm-6
				.servive-block-in.servive-block-colored.servive-block-green
					h4|Awesome Green Box
					div
						i.icon-bullhorn
					p|Donec id elit non mi porta gravida at eget metus id elit mi egetine.
			.col-md-3.col-sm-6
				.servive-block-in.servive-block-colored.servive-block-green
					h4|Awesome Green Box
					div
						i.icon-bullhorn
					p|Donec id elit non mi porta gravida at eget metus id elit mi egetine.
	//footer-bajo
	.copyright
		.container
			.row
				.col-md-6
					p.copyright-space
						|2013 &copy;Sensei. Todos los derechos reservados.
						a(href="#")|Privacy Policy  
						| |
						a(ref="#")|Terminos de servicio
				.col-md-6
					a(href="#")
						//<img id="logo-footer" src="/img/logo2-default.png" class="pull-right" alt="" />
						h3.pull-right#logo-footer <i class="fa fa-penci-square"></i>Sensei