extends layouts/home_layout
block content
	//menu
	include includes/partials/header
	//sliders
	#fullpage(ng-controller="ctrlSlidesZone")
		include includes/partials/section0
		include includes/partials/section1
		include includes/partials/section2
		include includes/partials/footer
