extends layouts/home_layout
block content
	//encima del menu
	.top
		.container
			ul.loginbar(class="pull-right")
				li
					a.btnRegister(href="#")|Register
				li.devider
				li
					a.btnLogin(href="page_login.html")|Login
	.header
		.navbar(class="navbar-default",role='navigation')
			.container
				.navbar-header
					button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-responsive-collapse')
						span.sr-only| Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href='index.html')
						h1(style="color:white;")
							i.fa(class="fa-penci-square")
							|Sensei
				.collapse(class="navbar-collapse navbar-responsive-collapse")
						ul.nav(class="navbar-nav navbar-right")
							li.dropdown.active
								a.dropdown-toggle(href='#', data-toggle='dropdown', data-hover='dropdown', data-delay='0', data-close-others='false')
									|Inicio
							li.dropdown
								a.dropdown-toggle(href='#', data-toggle='dropdown', data-hover='dropdown', data-delay='0', data-close-others='false')
									|Blog
					//
							li.dropdown
								a.dropdown-toggle(href='#', data-toggle='dropdown', data-hover='dropdown', data-delay='0', data-close-others='false')
									|Pages
							li.dropdown
								a.dropdown-toggle(href='#', data-toggle='dropdown', data-hover='dropdown', data-delay='0', data-close-others='false')
									|Features
							li.dropdown
								a.dropdown-toggle(href='#', data-toggle='dropdown', data-hover='dropdown', data-delay='0', data-close-others='false')
									|Portfolio
							li.dropdown
								a.dropdown-toggle(href='#', data-toggle='dropdown', data-hover='dropdown', data-delay='0', data-close-others='false')
									|Contacts
	//sliders
	#fullpage(ng-controller="ctrlSlidesZone")
		.section#section0
			.slide(style="padding:0;")
				.layer_slider(style="z-index:1;margin-top:-103px;")
					#layerslider-container-fw
						#layerslider(style="width: 100%; height: 500px; margin: 0px auto;")
							.search(ng-controller="ctrlSearch",style="position:absolute;width:40%;height:auto;margin:20% 0 0 10%;z-index:1000;")
								.input-group.input-lg
									input.form-control.inputSearch(ng-model="search",type='text',style="height:40px;font-size:1.5em;", placeholder='Busca el curso o tema')
									span.input-group-btn
										button.btn-u.btn-lg.btnSearch(type='button',style="height:40px;width:40px;margin:0 0 0 -40px")
											i.icon-search(style="font-size:1.5em;")
							.ls-layer(style="slidedirection: right;")
								img.ls-bg(src="/img/main/12.jpg",alt="Slide background")
								//img.ls-s-1(src="/img/mockup/iphone1.png", alt="Slider Image", style=" top:110px; left: 240px; slidedirection : left; slideoutdirection : bottom; durationin : 1500; durationout : 1500; ")
								//img.ls-s-1(src="/img/mockup/iphone.png", alt="Slider image", style=" top:60px; left: 40px; slidedirection : left; slideoutdirection : bottom; durationin : 2500; durationout : 2500; ")
								span.ls-s-1(style=" text-transform: uppercase; line-height: 45px; font-size:35px; color:#fff; top:200px; left: 590px; slidedirection : top; slideoutdirection : bototm; durationin : 3500; durationout : 3500;")
									|fully Responsive
									br
									|Mensaje
								a.btn-u(class="btn-u-orange ls-s1", href="#", style=" padding: 9px 20px; font-size:25px; top:340px; left: 590px; slidedirection : bottom; slideoutdirection : top; durationin : 3500; durationout : 3500;")
									|Download
							.ls-layer(style="slidedirection: top;")
								img.ls.bg(src="/img/bg/7.jpg",alt="Slide background")
								i.icon-chevron-sign-right.ls-s-1(style=" color: #fff; font-size: 24px; top:70px; left: 40px; slidedirection : left; slideoutdirection : top; durationin : 1500; durationout : 500;")
								span.ls-s-2(style=" color: #fff; font-weight: 200; font-size: 22px; top:70px; left: 70px; slidedirection : top; slideoutdirection : bottom; durationin : 1500; durationout : 500; ")
									|Fully Responsive and Easy to Customize
								i.icon-chevron.icon-chevron-sign-right.ls-s-1(style=" color: #fff; font-size: 24px; top:120px; left: 40px; slidedirection : left; slideoutdirection : top; durationin : 2500; durationout : 1500;")
								span.ls-s-2(style="color: #000; font-weight: 200; font-size: 22px; top:120px; left: 70px; slidedirection : top; slideoutdirection : bottom; durationin : 2500; durationout : 1500;")
									|Revolution and Layer Slider Included
								i.icon-chevron-sign-right.ls-s-1(style="color: #fff; font-size: 24px; top:170px; left: 40px; slidedirection : left; slideoutdirection : top; durationin : 3500; durationout : 3500;")
								span.ls-s-2(style="color: #000; font-weight: 200; font-size: 22px; top:170px; left: 70px; slidedirection : top; slideoutdirection : bottom; durationin : 3500; durationout : 2500;")
									|1000+ Glyphicons Pro and Font Awesome Icons
								i.icon-chevron-sign-right.ls-s-1(style="color: #fff; font-size: 24px; top:220px; left: 40px; slidedirection : left; slideoutdirection : top; durationin : 4500; durationout : 3500;")
								span.ls-s-2(style="color: #000; font-weight: 200; font-size: 22px; top:220px; left: 70px; slidedirection : top; slideoutdirection : bottom; durationin : 4500; durationout : 3500;")
									|Revolution and Layer Slider Included
								i.icon-chevron-sign-right.ls-s-1(style=" color: #fff; font-size: 24px; top:370px; left: 40px; slidedirection : left; slideoutdirection : top; durationin : 5500; durationout : 4500; ")
								span.ls-s-2(style="color: #000; font-weight: 200; font-size: 22px; top:370px; left: 70px; slidedirection : top; slideoutdirection : bottom; durationin : 5500; durationout : 4500;")
									|60+ Template Pages and 20+ Plugins Included
								a.btn.btn-u.ls-s-1(href="#",style="padding: 9px 20px; font-size:25px; top:420px; left: 40px; slidedirection : bottom; slideoutdirection : bottom; durationin : 6500; durationout : 3500;")
									|Twitter Bootstrap 3
								img(src="/img/mockup/iphone1.png", alt="Slider Image", class="ls-s-1", style=" top:30px; left: 650px; slidedirection : right; slideoutdirection : bottom; durationin : 1500; durationout : 1500;")
							.ls-layer()
								img.ls-bg(src="/img/main/11.jpg",alt="Slide background")
								span.ls-s-1(style="color: #777; line-height:45px; font-weight: 200; font-size: 35px; top:150px; left: 550px; slidedirection : top; slideoutdirection : bottom; durationin : 1000; durationout : 1000;")
									| Unify is Fully Responsive <br> Twitter Bootstrap 3 Template
								a.btn-u.btn-u-green.ls-s-1(href="#",style="padding: 9px 20px; font-size:25px; top:270px; left: 550px; slidedirection : bottom; slideoutdirection : bottom; durationin : 1000; durationout : 1000;")
									|	Find Out More
								//img.ls-s-1(src="/img/mockup/iphone.png", alt="Slider Image", style=" top:30px; left: 670px; slidedirection : right; slideoutdirection : bottom; durationin : 3000; durationout : 3000; ")
			.slide
				.container(style="margin:-103px 0 0 0;")
					.row
						.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
							form.reg-page
								.reg-header
									h2|Login
								.input-group.margin-bottom-20
									span.input-group-addon
										i.icon-user
									input.form-control(type="text",placeholder="tu email")
								.input-group.margin-bottom-20
									span.input-group-addon
										i.icon-lock
									input.form-control(type="password",placeholder="tu password")
								.row
									.col-md-6
										label.checkbox
											input(type="checkbox",name="signed")
											|Mantener mi sesion abierta
									.col-md-6
										button.btn-u.pull-right(type="submit")|Login
								h5|Me olvide mi password ?
								p|no te preocupes dale&nbsp;
									a.color-green(hrf="#")|Click aqui
									|&nbsp; para recuperarlo
			.slide
				.container(style="margin-top:-103px;")
					.row
						.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
							form.reg-page
								.reg-header
									h2|Registrate
									p|Ya tengo una cuenta <a href="#" class="btnLogin color-green">Entrar ahora</a> a mi profile.
								.input-group.margin-bottom-20
									span.input-group-addon
										i.icon-envelope
									input.form-control(type="email",placeholder="tu email")
								.input-group.margin-bottom-20
									span.input-group-addon
										i.icon-phone
									input.form-control(type="tel",placeholder="tu telefono")
								.input-group.margin-bottom-20
									span.input-group-addon
										i.icon-lock
									input.form-control(type="password",placeholder="tu password")
								hr
								.row
									.col-lg-6
										label.checkbox
											input(type="checkbox")
											|Ya he leido <a href="page_terms.html" class="color-green"> los terminos y condiciones</a>
									.col-lg-6.text-right
										button.btn-u(type="submit")|Registrarme ya!!
		//contenido medio					
		.section#section1
			.slide
				.container
					.row
						h4.title.text-center|Mira como ellos ya estan aprendiendo!!
						hr
					.row.servive-block
						.col-xs-6.col-md-3.col-sm-6
							.servive-block-in.servive-block-colored.servive-block-green
								h4|Awesome Green Box
								div
									i.icon-bullhorn
								p|Donec id elit non mi porta gravida
						.col-xs-6.col-md-3.col-sm-6
							.servive-block-in.servive-block-colored.servive-block-green
								h4|Awesome Green Box
								div
									i.icon-bullhorn
								p|Donec id elit non mi porta gravida
						.col-xs-6.col-md-3.col-sm-6
							.servive-block-in.servive-block-colored.servive-block-green
								h4|Awesome Green Box
								div
									i.icon-bullhorn
								p|Donec id elit non mi porta gravida
						.col-xs-6.col-md-3.col-sm-6
							.servive-block-in.servive-block-colored.servive-block-green
								h4|Awesome Green Box
								div
									i.icon-bullhorn
								p|Donec id elit non mi porta gravida
					.row.servive-block
						.col-xs-6.col-md-3.col-sm-6
							.servive-block-in.servive-block-colored.servive-block-green
								h4|Awesome Green Box
								div
									i.icon-bullhorn
								p|Donec id elit non mi porta gravida
						.col-xs-6.col-md-3.col-sm-6
							.servive-block-in.servive-block-colored.servive-block-green
								h4|Awesome Green Box
								div
									i.icon-bullhorn
								p|Donec id elit non mi porta gravida
						.col-xs-6.col-md-3.col-sm-6
							.servive-block-in.servive-block-colored.servive-block-green
								h4|Awesome Green Box
								div
									i.icon-bullhorn
								p|Donec id elit non mi porta gravida
						.col-xs-6.col-md-3.col-sm-6
							.servive-block-in.servive-block-colored.servive-block-green
								h4|Awesome Green Box
								div
									i.icon-bullhorn
								p|Donec id elit non mi porta gravida
					.row.servive-block
						.col-xs-6.col-md-3.col-sm-6
							.servive-block-in.servive-block-colored.servive-block-green
								h4|Awesome Green Box
								div
									i.icon-bullhorn
								p|Donec id elit non mi porta gravida
						.col-xs-6.col-md-3.col-sm-6
							.servive-block-in.servive-block-colored.servive-block-green
								h4|Awesome Green Box
								div
									i.icon-bullhorn
								p|Donec id elit non mi porta gravida
						.col-xs-6.col-md-3.col-sm-6
							.servive-block-in.servive-block-colored.servive-block-green
								h4|Awesome Green Box
								div
									i.icon-bullhorn
								p|Donec id elit non mi porta gravida
						.col-xs-6.col-md-3.col-sm-6
							.servive-block-in.servive-block-colored.servive-block-green
								h4|Awesome Green Box
								div
									i.icon-bullhorn
								p|Donec id elit non mi porta gravida
			.slide
				.container
					.row
						h4.title.text-center|Encontramos estos profesores para ti!!
						hr
					.row.servive-block
						.col-md-6.col-sm-6
							.servive-block-in.servive-block-colored.servive-block-blue
								h4|Awesome Green Box
								div
									i.icon-bullhorn
								p|Donec id elit non mi porta gravida
						.col-md-6.col-sm-6
							.servive-block-in.servive-block-colored.servive-block-blue
								h4|Awesome Green Box
								div
									i.icon-bullhorn
								p|Donec id elit non mi porta gravida
						.col-md-6.col-sm-6
							.servive-block-in.servive-block-colored.servive-block-blue
								h4|Awesome Green Box
								div
									i.icon-bullhorn
								p|Donec id elit non mi porta gravida
						.col-md-6.col-sm-6
							.servive-block-in.servive-block-colored.servive-block-blue
								h4|Awesome Green Box
								div
									i.icon-bullhorn
								p|Donec id elit non mi porta gravida
					.row.servive-block
						.col-md-6.col-sm-6
							.servive-block-in.servive-block-colored.servive-block-blue
								h4|Awesome Green Box
								div
									i.icon-bullhorn
								p|Donec id elit non mi porta gravida
						.col-md-6.col-sm-6
							.servive-block-in.servive-block-colored.servive-block-blue
								h4|Awesome Green Box
								div
									i.icon-bullhorn
								p|Donec id elit non mi porta gravida

		//footer-bajo
		.section#section2
			.clients
				.row
					h3.text-center|Ellos confian en nosotros !!
					hr
				.row
					.col-md-4
						#testimonials-1.testimonials.testimonials-v1
							.item
								p|Crasjusto ducimus qui cupiditate non provident, similique sunt in culpaid est anditiis praesentium praesentium blanditiis praesentium non provident.
								.testimonial-info
									img(alt="", src="/img/testimonials/img1.jpg")
									span.testimonial-author|Jorge Casuino&nbsp;
										em|Estudiante de secundaria, Colegio Mercedes Cabello
					.col-md-4
						#testimonials-1.testimonials.testimonials-v1
							.item
								p|Crasjusto ducimus qui cupiditate non provident, similique sunt in culpaid est anditiis praesentium praesentium blanditiis praesentium non provident.
								.testimonial-info
									img(alt="", src="/img/testimonials/img1.jpg")
									span.testimonial-author|Jorge Casuino&nbsp;
										em|Estudiante de secundaria, Colegio Mercedes Cabello
					.col-md-4
						#testimonials-1.testimonials.testimonials-v1
							.item
								p|Crasjusto ducimus qui cupiditate non provident, similique sunt in culpaid est anditiis praesentium praesentium blanditiis praesentium non provident.
								.testimonial-info
									img(alt="", src="/img/testimonials/img1.jpg")
									span.testimonial-author|Jorge Casuino&nbsp;
										em|Estudiante de secundaria, Colegio Mercedes Cabello


			footer.footer
				.container
					.row
						.col-md-4.md-margin-bottom-40
							//About
							.headline <h4>Nosotros</h4>
							p.margin-bottom-25.md-margin-bottom-40
								|Sensei te permite recibir clases en vivo y directo con los profesores que tu elijas!!
							
						.col-md-4.md-margin-bottom-40
							.headline <h4>Conectemos !!</h4>
							ul.social-icons
								li
									a.social_facebook(href="#",data-original-title="Facebook")
								li
									a.social_twitter(href="#",data-original-title="Twitter")
								li
									a.social_youtube(href="#",data-original-title="Youtube")

						.col-md-4
							.headline <h4>Contactemos !!</h4>
							address.md-margin-bottom-40
								|Av Petit Thours 975 </br>
								|Lince, Lima - Perú </br>
								i.icon-phone|&nbsp;&nbsp;(01)3737023 </br>
								i.icon-envelope|&nbsp;&nbsp;
								a(href="mailto:gustavo.gonzales@sensei.pe")|gustavo.gonzales@sensei.pe
			.copyright
				.container
					.row
						.col-md-6
							p.copyright-space
								|2014 &copy;Sensei. Todos los derechos reservados.
								a(href="#")|Privacy Policy  
								| |
								a(ref="#")|Terminos de servicio
						.col-md-6
							a(href="#")
								//<img id="logo-footer" src="/img/logo2-default.png" class="pull-right" alt="" />
								h3.pull-right#logo-footer <i class="fa fa-penci-square"></i>Sensei