extends master
block ie_conditionals
	<!--[if IE 8]><html lang="en" class="ie8"> <![endif]-->
	<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
block import_links
	include ../includes/links/home
block content
block import_scripts
	include ../includes/scripts/home.jade
	block import_scripts_sub