footer.footer
	.container
		.row
			.col-md-4.md-margin-bottom-40
				//About
				.headline <h4>Nosotros</h4>
				p.margin-bottom-25.md-margin-bottom-40
					|Sensei te permite recibir clases en vivo y directo con los profesores que tu elijas!!
				
			.col-md-4.md-margin-bottom-40
				.headline <h4>Conectemos !!</h4>
				ul.social-icons
					li
						a.social_facebook(href="#",data-original-title="Facebook")
					li
						a.social_twitter(href="#",data-original-title="Twitter")
					li
						a.social_youtube(href="#",data-original-title="Youtube")

			.col-md-4
				.headline <h4>Contactemos !!</h4>
				address.md-margin-bottom-40
					|Av Petit Thours 975 </br>
					|Lince, Lima - Perú </br>
					i.icon-phone|&nbsp;&nbsp;(01)3737023 </br>
					i.icon-envelope|&nbsp;&nbsp;
					a(href="mailto:gustavo.gonzales@sensei.pe")|gustavo.gonzales@sensei.pe
.copyright
	.container
		.row
			.col-md-6
				p.copyright-space
					|2014 &copy;Sensei. Todos los derechos reservados.
					a(href="#")|Privacy Policy  
					| |
					a(ref="#")|Terminos de servicio
			.col-md-6
				a(href="#")
					//<img id="logo-footer" src="/img/logo2-default.png" class="pull-right" alt="" />
					h3.pull-right#logo-footer <i class="fa fa-penci-square"></i>Sensei