.slide
	.container(style="margin:-103px 0 0 0;")
		.row
			.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
				form.reg-page
					.reg-header
						h2|Login
					.input-group.margin-bottom-20
						span.input-group-addon
							i.icon-user
						input.form-control(type="text",placeholder="tu email")
					.input-group.margin-bottom-20
						span.input-group-addon
							i.icon-lock
						input.form-control(type="password",placeholder="tu password")
					.row
						.col-md-6
							label.checkbox
								input(type="checkbox",name="signed")
								|Mantener mi sesion abierta
						.col-md-6
							button.btn-u.pull-right(type="submit")|Login
					h5|Me olvide mi password ?
					p|no te preocupes dale&nbsp;
						a.color-green(hrf="#")|Click aqui
						|&nbsp; para recuperarlo