.slide
	.container(style="margin-top:-103px;")
		.row
			.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
				form.reg-page
					.reg-header
						h2|Registrate
						p|Ya tengo una cuenta <a href="#" class="btnLogin color-green">Entrar ahora</a> a mi profile.
					.input-group.margin-bottom-20
						span.input-group-addon
							i.icon-envelope
						input.form-control(type="email",placeholder="tu email")
					.input-group.margin-bottom-20
						span.input-group-addon
							i.icon-phone
						input.form-control(type="tel",placeholder="tu telefono")
					.input-group.margin-bottom-20
						span.input-group-addon
							i.icon-lock
						input.form-control(type="password",placeholder="tu password")
					hr
					.row
						.col-lg-6
							label.checkbox
								input(type="checkbox")
								|Ya he leido <a href="page_terms.html" class="color-green"> los terminos y condiciones</a>
						.col-lg-6.text-right
							button.btn-u(type="submit")|Registrarme ya!!