.section#section2
	.clients
		.row
			h3.text-center|Ellos confian en nosotros !!
			hr
		.row
			.col-md-4
				#testimonials-1.testimonials.testimonials-v1
					.item
						p|Crasjusto ducimus qui cupiditate non provident, similique sunt in culpaid est anditiis praesentium praesentium blanditiis praesentium non provident.
						.testimonial-info
							img(alt="", src="/img/testimonials/img1.jpg")
							span.testimonial-author|Jorge Casuino&nbsp;
								em|Estudiante de secundaria, Colegio Mercedes Cabello
			.col-md-4
				#testimonials-1.testimonials.testimonials-v1
					.item
						p|Crasjusto ducimus qui cupiditate non provident, similique sunt in culpaid est anditiis praesentium praesentium blanditiis praesentium non provident.
						.testimonial-info
							img(alt="", src="/img/testimonials/img1.jpg")
							span.testimonial-author|Jorge Casuino&nbsp;
								em|Estudiante de secundaria, Colegio Mercedes Cabello
			.col-md-4
				#testimonials-1.testimonials.testimonials-v1
					.item
						p|Crasjusto ducimus qui cupiditate non provident, similique sunt in culpaid est anditiis praesentium praesentium blanditiis praesentium non provident.
						.testimonial-info
							img(alt="", src="/img/testimonials/img1.jpg")
							span.testimonial-author|Jorge Casuino&nbsp;
								em|Estudiante de secundaria, Colegio Mercedes Cabello