.slide(style="padding:0;")
	.layer_slider(style="z-index:1;margin-top:-103px;")
		#layerslider-container-fw
			#layerslider(style="width: 100%; height: 590px; margin: 0px auto;")
				.search(ng-controller="ctrlSearch",style="position:absolute;width:40%;height:auto;margin:20% 0 0 10%;z-index:1000;")
					.input-group.input-lg
						input.form-control.inputSearch(ng-model="search",type='text',style="height:40px;font-size:1.5em;", placeholder='Busca el curso o tema')
						span.input-group-btn
							button.btn-u.btn-lg.btnSearch(type='button',style="height:40px;width:40px;margin:0 0 0 -40px")
								i.icon-search(style="font-size:1.5em;")
				.ls-layer(style="slidedirection: right;")
					img.ls-bg(src="/img/main/12.jpg",alt="Slide background")
					//img.ls-s-1(src="/img/mockup/iphone1.png", alt="Slider Image", style=" top:110px; left: 240px; slidedirection : left; slideoutdirection : bottom; durationin : 1500; durationout : 1500; ")
					//img.ls-s-1(src="/img/mockup/iphone.png", alt="Slider image", style=" top:60px; left: 40px; slidedirection : left; slideoutdirection : bottom; durationin : 2500; durationout : 2500; ")
					span.ls-s-1(style=" text-transform: uppercase; line-height: 45px; font-size:35px; color:#fff; top:200px; left: 590px; slidedirection : top; slideoutdirection : bototm; durationin : 3500; durationout : 3500;")
						|fully Responsive
						br
						|Mensaje
					a.btn-u(class="btn-u-orange ls-s1", href="#", style=" padding: 9px 20px; font-size:25px; top:340px; left: 590px; slidedirection : bottom; slideoutdirection : top; durationin : 3500; durationout : 3500;")
						|Download
				.ls-layer(style="slidedirection: top;")
					img.ls.bg(src="/img/bg/7.jpg",alt="Slide background")
					i.icon-chevron-sign-right.ls-s-1(style=" color: #fff; font-size: 24px; top:70px; left: 40px; slidedirection : left; slideoutdirection : top; durationin : 1500; durationout : 500;")
					span.ls-s-2(style=" color: #fff; font-weight: 200; font-size: 22px; top:70px; left: 70px; slidedirection : top; slideoutdirection : bottom; durationin : 1500; durationout : 500; ")
						|Fully Responsive and Easy to Customize
					i.icon-chevron.icon-chevron-sign-right.ls-s-1(style=" color: #fff; font-size: 24px; top:120px; left: 40px; slidedirection : left; slideoutdirection : top; durationin : 2500; durationout : 1500;")
					span.ls-s-2(style="color: #000; font-weight: 200; font-size: 22px; top:120px; left: 70px; slidedirection : top; slideoutdirection : bottom; durationin : 2500; durationout : 1500;")
						|Revolution and Layer Slider Included
					i.icon-chevron-sign-right.ls-s-1(style="color: #fff; font-size: 24px; top:170px; left: 40px; slidedirection : left; slideoutdirection : top; durationin : 3500; durationout : 3500;")
					span.ls-s-2(style="color: #000; font-weight: 200; font-size: 22px; top:170px; left: 70px; slidedirection : top; slideoutdirection : bottom; durationin : 3500; durationout : 2500;")
						|1000+ Glyphicons Pro and Font Awesome Icons
					i.icon-chevron-sign-right.ls-s-1(style="color: #fff; font-size: 24px; top:220px; left: 40px; slidedirection : left; slideoutdirection : top; durationin : 4500; durationout : 3500;")
					span.ls-s-2(style="color: #000; font-weight: 200; font-size: 22px; top:220px; left: 70px; slidedirection : top; slideoutdirection : bottom; durationin : 4500; durationout : 3500;")
						|Revolution and Layer Slider Included
					i.icon-chevron-sign-right.ls-s-1(style=" color: #fff; font-size: 24px; top:370px; left: 40px; slidedirection : left; slideoutdirection : top; durationin : 5500; durationout : 4500; ")
					span.ls-s-2(style="color: #000; font-weight: 200; font-size: 22px; top:370px; left: 70px; slidedirection : top; slideoutdirection : bottom; durationin : 5500; durationout : 4500;")
						|60+ Template Pages and 20+ Plugins Included
					a.btn.btn-u.ls-s-1(href="#",style="padding: 9px 20px; font-size:25px; top:420px; left: 40px; slidedirection : bottom; slideoutdirection : bottom; durationin : 6500; durationout : 3500;")
						|Twitter Bootstrap 3
					img(src="/img/mockup/iphone1.png", alt="Slider Image", class="ls-s-1", style=" top:30px; left: 650px; slidedirection : right; slideoutdirection : bottom; durationin : 1500; durationout : 1500;")
				.ls-layer()
					img.ls-bg(src="/img/main/11.jpg",alt="Slide background")
					span.ls-s-1(style="color: #777; line-height:45px; font-weight: 200; font-size: 35px; top:150px; left: 550px; slidedirection : top; slideoutdirection : bottom; durationin : 1000; durationout : 1000;")
						| Unify is Fully Responsive <br> Twitter Bootstrap 3 Template
					a.btn-u.btn-u-green.ls-s-1(href="#",style="padding: 9px 20px; font-size:25px; top:270px; left: 550px; slidedirection : bottom; slideoutdirection : bottom; durationin : 1000; durationout : 1000;")
						|	Find Out More
					//img.ls-s-1(src="/img/mockup/iphone.png", alt="Slider Image", style=" top:30px; left: 670px; slidedirection : right; slideoutdirection : bottom; durationin : 3000; durationout : 3000; ")